<template>
    <v-dialog v-model="dialog" persistent max-width="330">
        <v-btn slot="activator" flat color="error">
            <v-icon left>delete</v-icon>
            {{$t('actions.delete')}}
        </v-btn>
        <v-card>
            <v-card-title class="headline">{{$t('components.card-reminder.ask.delete')}}</v-card-title>
            <v-card-text>
                <strong>{{reminder.headline}}</strong>
            </v-card-text>
            <v-card-actions>
                <v-spacer/>
                <v-btn color="success darken-1" flat @click.native="dialog = false">
                    {{$t('actions.close')}}
                </v-btn>
                <v-btn color="error darken-1" flat @click="remove" :loading="loading">
                    {{$t('actions.delete')}}
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
  export default {
    props: [
      'reminder'
    ],
    data () {
      return {
        loading: false,
        dialog: false
      }
    },
    methods: {
      async remove () {
        this.loading = true
        try {
          await this.$axios.delete(`/reminders/${this.reminder.hash}`)
          this.$store.commit('alert/open', {
            message: 'components.card-reminder.deleted.success',
            color: 'success'
          }, {root: true})
          /*
          Closing a dialog and fetching the reminders after it has closed
           */
          this.dialog = false
          let pageHash = null
          try {
            pageHash = this.$route.params.hash
          } catch (e) {
            // we don't care if doesn't exists
          }
          if (pageHash === this.reminder.hash) {
            this.$router.replace(this.$i18n.path('create'))
          } else {
            this.$nextTick(() => {
              this.$store.dispatch('feed/fetchReminders')
            })
          }
        } catch (e) {
          this.$store.commit('alert/open', {
            message: 'components.card-reminder.deleted.error',
            color: 'error'
          }, {root: true})
          console.log(e)
        } finally {
          this.loading = false
        }
      }
    }
  }
</script>
