<template>
    <v-btn flat :color="this.reminder.following ? 'error' : 'primary'" @click="updateFollow" :loading="loading">
        <v-icon left>{{this.reminder.following ? 'remove_circle_outline' : 'add_circle_outline'}}</v-icon>
        {{this.reminder.following ? $t('actions.unfollow') : $t('actions.follow') }}
    </v-btn>
</template>

<script>
  export default {
    props: [
      'reminder'
    ],
    data () {
      return {
        loading: false
      }
    },
    methods: {
      async updateFollow () {
        this.loading = true
        try {
          const {data: {following}} = await this.$axios.patch(`/reminders/${this.reminder.hash}/follow`)
          this.$store.commit('alert/open', {
            message: `components.card-reminder.${following ? 'follow' : 'unfollow'}.success`
          }, {root: true})
          this.$emit('updated')
          if (following) {
            this.$emit('followed')
          }
        } catch (e) {
          console.log(e)
          this.$store.commit('alert/open', {
            message: `components.card-reminder.${this.reminder.following ? 'follow' : 'unfollow'}.error`
          }, {root: true})
        } finally {
          this.loading = false
        }
      }
    }
  }
</script>
