<template>
    <div>
        <v-dialog v-model="dialog" persistent max-width="330">
            <v-btn flat color="secondary" slot="activator">
                <v-icon left>music_note</v-icon>
                {{$t('actions.notifications')}}
                ({{Object.keys(this.reminder.notifications).length}})
            </v-btn>
            <form @submit.prevent="update">
                <v-card>
                    <v-card-text>
                        <div class="headline">{{$t('actions.notifications')}}</div>
                        <div class="subheading">{{$t('components.card-reminder.notify.explain')}}</div>
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-text>
                        <v-switch color="primary" class="text-xs-left mt-0" :label="$t('page.create.notification.browser')"
                                  v-model="event.trigger.browser.value" hide-details/>
                        <v-switch v-if="$store.state.auth.email" color="primary" class="text-xs-left" :label="$t('page.create.notification.mail')"
                                  v-model="event.trigger.mail.value" hide-details/>
                    </v-card-text>
                    <v-divider/>
                    <v-card-text>
                        <div class="headline">
                            {{$t('components.card-reminder.notify.pre-trigger')}}
                        </div>
                        <div class="subheading">{{$t('components.card-reminder.notify.explain')}}</div>
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-text>
                        <v-switch color="primary" class="text-xs-left mt-0" :label="$t('page.create.notification.browser')"
                                  v-model="event['pre-trigger'].browser.value" hide-details/>
                        <v-switch v-if="$store.state.auth.email" color="primary" class="text-xs-left" :label="$t('page.create.notification.mail')"
                                  v-model="event['pre-trigger'].mail.value" hide-details/>
                        <v-layout v-if="event['pre-trigger'].browser.value">
                            <v-flex xs5>
                                <v-text-field label="Time" type="number" step="1" min="1" :max="magnitudeMaxValue"
                                              hide-details required
                                              v-model="event['pre-trigger'].browser.data.value"/>
                            </v-flex>
                            <v-spacer/>
                            <v-flex xs6>
                                <v-select hide-details :items="magnitudes" required
                                          v-model="event['pre-trigger'].browser.data.unit"/>
                            </v-flex>
                        </v-layout>
                    </v-card-text>
                    <v-divider/>
                    <v-card-actions>
                        <v-btn color="secondary" flat @click.native="dialog = false">
                            {{$t('actions.close')}}
                        </v-btn>
                        <v-spacer/>
                        <v-btn color="success" flat :loading="loading" type="submit">
                            {{$t('actions.save')}}
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </form>
        </v-dialog>
        <v-dialog v-model="dialogEnableBrowser" max-width="330" lazy>
            <v-card>
                <v-card-title headline>
                    <div class="headline">{{$t('components.card-reminder.notify.enable-browser')}}</div>
                </v-card-title>
                <v-card-text>
                    <enable-browser-notification @subscribed="browserSubscribed"/>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
  import EnableBrowserNotification from '~/components/create/enable-browser-notification'

  export default {
    components: {
      EnableBrowserNotification
    },
    props: [
      'reminder',
      'followed',
      'now'
    ],
    watch: {
      'dialog' (value) {
        if (value) {
          this.getChannels()
        }
      }
    },
    mounted () {
      if (this.followed) {
        this.dialog = true
      }
      this.$watch(() => this.event['trigger'].browser.value, (value) => {
        if (value && !this.$store.state.notification.subscribed) {
          this.dialogEnableBrowser = true
          this.eventEnableBrowser = 'trigger'
          this.event['trigger'].browser.value = false
        }
      })
      // using computed property because vue doesn't support event.pre-trigger.browser
      this.$watch(() => this.event['pre-trigger'].browser.value, (value) => {
        if (value && !this.$store.state.notification.subscribed) {
          this.dialogEnableBrowser = true
          this.eventEnableBrowser = 'pre-trigger'
          this.event['pre-trigger'].browser.value = false
        }
      })
    },
    data () {
      return {
        dialog: false,
        dialogEnableBrowser: false,
        eventEnableBrowser: '',
        loading: false,
        event: {
          'trigger': {
            browser: {
              value: false,
              data: null
            },
            mail: {
              value: false,
              data: null
            }
          },
          'pre-trigger': {
            browser: {
              value: false,
              data: {
                unit: 'minute',
                value: '10'
              }
            },
            mail: {
              value: false,
              data: {
                unit: 'minute',
                value: '10'
              }
            }
          }
        }
      }
    },
    created () {
      this.getChannels()
    },
    computed: {
      updates () {
        let updates = []
        Object.keys(this.event).map((event) => {
          Object.keys(this.event[event]).map(channel => {
            updates.push({
              channel,
              'set': !!this.event[event][channel].value,
              event,
              data: this.event[event][channel].data
            })
          })
        })
        return updates
      },
      changed () {
        // not so easy to calculate after all
        return true
      },
      magnitudeMaxValue () {
        const now = this.now.clone()
        const trigger = this.$moment(this.reminder.trigger)
        const unit = this.event['pre-trigger'].browser.data.unit
        return trigger.diff(now, unit)
      },
      magnitudes () {
        const now = this.now.clone()
        const trigger = this.$moment(this.reminder.trigger)
        const magnitudes = []
        if (trigger.diff(now, 'minutes') > 0) {
          magnitudes.push({
            text: this.getLocaleForRelativeTime('m', this.event['pre-trigger'].browser.data.value),
            value: 'minute'
          })
        }
        if (trigger.diff(now, 'hours') > 0) {
          magnitudes.push({
            text: this.getLocaleForRelativeTime('h', this.event['pre-trigger'].browser.data.value),
            value: 'hour'
          })
        }
        if (trigger.diff(now, 'days') > 0) {
          magnitudes.push({
            text: this.getLocaleForRelativeTime('d', this.event['pre-trigger'].browser.data.value),
            value: 'day'
          })
        }
        if (trigger.diff(now, 'years') > 0) {
          magnitudes.push({
            text: this.getLocaleForRelativeTime('y', this.event['pre-trigger'].browser.data.value),
            value: 'year'
          })
        }
        return magnitudes
      }
    },
    methods: {
      getLocaleForRelativeTime (key, value) {
        const localeData = this.$moment.localeData()
        const relative = value > 1 ? key + key : key
        return localeData.relativeTime(1, true, relative, true).split(' ')[1]
      },
      getChannels () {
        Object.keys(this.reminder.notifications).map((event) => {
          Object.keys(this.reminder.notifications[event]).map(channel => {
            this.event[event][channel].value = this.reminder.notifications[event][channel].value // its always true, lol
            if (this.reminder.notifications[event][channel].data) {
              this.event[event][channel].data = {...this.reminder.notifications[event][channel].data}
            }
          })
        })
      },
      browserSubscribed () {
        this.dialogEnableBrowser = false
        this.event[this.eventEnableBrowser].browser.value = true
      },
      async update () {
        if (!this.changed) {
          this.dialog = false
          return
        }
        this.loading = true
        try {
          await this.$axios.patch(`/reminders/${this.reminder.hash}/notify`, {
            updates: this.updates
          })
          this.$store.commit('alert/open', {
            message: 'components.card-reminder.notify.success',
            color: 'success'
          }, {root: true})
          this.dialog = false
          /*
          Closing a dialog and fetching the reminders after it has closed
           */
          this.$nextTick(() => this.$emit('updated'))
        } catch (e) {
          console.log(e)
          this.$store.commit('alert/open', {
            message: 'components.card-reminder.notify.error',
            color: 'error'
          }, {root: true})
        } finally {
          this.loading = false
        }
      }
    }
  }
</script>
