<template>
    <v-menu offset-y>
        <v-btn flat color="secondary" slot="activator" :loading="loading">
            <v-icon left>{{privacy_icon[reminder.privacy]}}</v-icon>
            {{$t(`state.privacy.${reminder.privacy}`)}}
        </v-btn>
        <v-list>
            <v-list-tile v-for="privacy in unselectedPrivacies" :key="privacy" @click="setPrivacy(privacy)">
                <v-list-tile-title>
                    <v-icon left>{{privacy_icon[privacy]}}</v-icon>
                    {{$t(`state.privacy.${privacy}`)}}
                </v-list-tile-title>
            </v-list-tile>
        </v-list>
    </v-menu>
</template>

<script>
  export default {
    props: [
      'reminder'
    ],
    data () {
      return {
        loading: false,
        privacy_icon: {
          private: 'lock',
          hidden: 'link',
          public: 'public'
        },
        privacy_options: [
          'private',
          'hidden',
          'public'
        ]
      }
    },
    computed: {
      unselectedPrivacies () {
        let privacies = [
          'private',
          'hidden',
          'public'
        ]
        privacies.splice(privacies.indexOf(this.reminder.privacy), 1)
        return privacies
      }
    },
    methods: {
      async setPrivacy (privacy) {
        this.loading = true
        try {
          await this.$axios.patch(`/reminders/${this.reminder.hash}/privacy`, {
            privacy
          })
          this.$store.commit('alert/open', {
            message: 'components.card-reminder.privacy.success',
            color: 'success'
          }, {root: true})
          /*
          Closing a dialog and fetching the reminders after it has closed
           */
          await this.$store.dispatch('feed/fetchReminders')
          this.$nextTick(() => this.$emit('updated'))
        } catch (e) {
          console.log(e)
          this.$store.commit('alert/open', {
            message: 'components.card-reminder.privacy.error',
            color: 'error'
          }, {root: true})
        } finally {
          this.loading = false
        }
      }
    }
  }
</script>
