<template>
    <v-dialog v-model="dialog" persistent max-width="330">
        <v-btn slot="activator" flat color="warning">
            <v-icon left>edit</v-icon>
            {{$t('actions.quick-edit')}}
        </v-btn>
        <v-card>
            <v-card-title class="headline">{{$t('actions.quick-edit')}}</v-card-title>
            <form @submit.prevent="update">
                <v-card-text>
                    <v-text-field prepend-icon="title" v-model="form.headline"
                                  :label="$t('page.create.labels.headline')" required/>
                    <v-text-field prepend-icon="link" v-model="form.url" :label="$t('page.create.labels.url')"/>
                    <v-textarea prepend-icon="message" hide-details v-model="form.message" :label="$t('page.create.labels.message')"/>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="success darken-1" flat @click.native="dialog = false">
                        {{$t('actions.close')}}
                    </v-btn>
                    <v-spacer/>
                    <v-btn color="warning darken-1" flat type="submit" :loading="loading">
                        {{$t('actions.save')}}
                    </v-btn>
                </v-card-actions>
            </form>
        </v-card>
    </v-dialog>
</template>

<script>
  export default {
    name: 'card-reminder-quick-edit',
    props: [
      'reminder'
    ],
    data () {
      return {
        loading: false,
        dialog: false,
        form: {
          headline: this.reminder.headline,
          message: this.reminder.message,
          url: this.reminder.url
        }
      }
    },
    methods: {
      async update () {
        this.loading = true
        try {
          await this.$axios.patch(`/reminders/${this.reminder.hash}`, this.form)
          this.$store.commit('alert/open', {
            message: 'components.card-reminder.updated.success',
            color: 'success'
          }, {root: true})
          /*
          Closing a dialog and fetching the reminders after it has closed
           */
          this.dialog = false
          this.$nextTick(() => this.$emit('updated'))
        } catch (e) {
          this.$store.commit('alert/open', {
            message: 'components.card-reminder.updated.error',
            color: 'error'
          }, {root: true})
          console.log(e)
        } finally {
          this.loading = false
        }
      }
    }
  }
</script>
