<template>
    <div>
        <v-menu offset-y v-if="reminder.privacy !== 'private'">
            <v-btn flat color="primary" slot="activator">
                <v-icon left>share</v-icon>
                {{$t('actions.share')}}
            </v-btn>
            <v-list>
                <v-list-tile v-for="{action, title} in items" :key="title" @click="action">
                    <v-list-tile-title>{{ $t(title) }}</v-list-tile-title>
                </v-list-tile>
            </v-list>
        </v-menu>
        <v-dialog v-model="dialog" persistent max-width="300" v-else>
            <v-btn flat color="secondary" slot="activator">
                <v-icon left>warning</v-icon>
                {{$t('actions.share')}}
            </v-btn>
            <v-card>
                <v-card-title class="headline">{{$t('components.card-reminder.share.change.ask')}}</v-card-title>
                <v-card-text>
                    <strong>{{$t('components.card-reminder.share.change.explain')}}</strong>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="secondary" flat @click.native="dialog = false" xs12>
                        {{$t('actions.cancel')}}
                    </v-btn>
                    <v-btn color="success darken-1" flat @click="setPrivacy('hidden')" :loading="loading" xs12>
                        {{$t('state.privacy.hidden')}}
                    </v-btn>
                    <v-btn color="success" flat @click="setPrivacy('public')" :loading="loading" xs12>
                        {{$t('state.privacy.public')}}
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="showUrlDialog" persistent max-width="300">
            <v-card>
                <v-card-text>
                    <v-text-field :value="publicUrl"
                                  @click.native="$refs.copyArea.$refs.input.select()" ref="copyArea" hide-details
                                  :label="$t('page.create.labels.url')"/>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="secondary" flat @click.native="showUrlDialog = false">
                        {{$t('actions.close')}}
                    </v-btn>
                    <v-spacer/>
                    <v-btn color="success darken-1" flat @click="copyUrl">
                        {{$t('actions.copy')}}
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="showQRCodeDialog" persistent max-width="300">
            <v-card>
                <v-card-text>
                    <canvas id="qrcode"></canvas>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="secondary" flat @click.native="showQRCodeDialog = false" block>
                        {{$t('actions.close')}}
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
  import Vue from 'vue'
  import Clipboard from 'v-clipboard'

  Vue.use(Clipboard)

  export default {
    props: ['reminder'],
    data () {
      let pageHash = null
      try {
        pageHash = this.$route.params.hash
      } catch (e) {
        // we don't care if doesn't exists
      }
      let base = []
      if (!pageHash) {
        base.push({
          title: 'components.card-reminder.share.option.open-url',
          action: this.openUrl
        })
      }
      return {
        showQRCodeDialog: false,
        showUrlDialog: false,
        dialog: false,
        loading: false,
        items: base.concat([
          {
            title: 'components.card-reminder.share.option.show-url',
            action: this.showUrl
          },
          {
            title: 'components.card-reminder.share.option.copy-url',
            action: this.copyUrl
          },
          {
            title: 'components.card-reminder.share.option.show-qr',
            action: this.showQRCode
          }
        ])
      }
    },
    computed: {
      path () {
        return this.$i18n.path(`reminders/${this.reminder.hash}/${this.reminder.slug}`)
      },
      publicUrl () {
        if (process.server) return
        if (this.reminder.privacy === 'private') return null
        return `${location.origin}${this.path}`
      }
    },
    methods: {
      noop () {
        // noop
      },
      openUrl () {
        this.$router.push(this.path)
      },
      showUrl () {
        this.showUrlDialog = true
      },
      copyUrl () {
        this.$clipboard(this.publicUrl)
        this.$store.commit('alert/open', {
          message: 'components.card-reminder.share.copy-success'
        }, {root: open})
      },
      showQRCode () {
        this.showQRCodeDialog = true
        const QRious = require('qrious')
        this.$nextTick(() => {
          new QRious({
            element: document.getElementById('qrcode'),
            value: this.publicUrl + '?utm_source=qrcode',
            size: 250
          })
        })
      },
      shareSocial (x) {
        return () => {
          console.log('sharing', x)
        }
      },
      async setPrivacy (privacy) {
        this.loading = true
        try {
          await this.$axios.patch(`/reminders/${this.reminder.hash}/privacy`, {
            privacy
          })
          this.$store.commit('alert/open', {
            message: 'components.card-reminder.privacy.success',
            color: 'success'
          }, {root: true})
          /*
          Closing a dialog and fetching the reminders after it has closed
           */
          await this.$store.dispatch('feed/fetchReminders')
          this.dialog = false
        } catch (e) {
          console.log(e)
          this.$store.commit('alert/open', {
            message: 'components.card-reminder.privacy.error',
            color: 'error'
          }, {root: true})
        } finally {
          this.loading = false
        }
      }
    }
  }
</script>

<style>
    #qrcode {
        width: 250px;
        display: block;
        margin: 0 auto;
    }
</style>
