<template>
    <div>
        <v-text-field
                v-if="$globals.hasNativeInputs()"
                :label="$t('page.create.labels.date')"
                prepend-icon="event"
                type="date"
                v-model="date"
                required
        />
        <v-dialog
                ref="dialog"
                v-else
                persistent
                v-model="dialog"
                lazy
                full-width
                width="290px"
                :return-value.sync="date"
        >
            <v-text-field
                    slot="activator"
                    :label="$t('page.create.labels.date')"
                    :value="dateFormatted"
                    type="text"
                    readonly
                    prepend-icon="event"
                    @keyup.space="dialog = true"
                    required
            />
            <v-date-picker v-model="date" scrollable actions :locale="$store.state.locale">
                <v-btn flat @click="dialog = false">{{$t('actions.cancel')}}</v-btn>
                <v-spacer/>
                <v-btn color="primary" @click="$refs.dialog.save(date)">{{$t('actions.save')}}</v-btn>
            </v-date-picker>
        </v-dialog>
    </div>
</template>

<script>
    export default {
      data () {
        return {
          dialog: false
        }
      },
      computed: {
        dateFormatted () {
          if (!this.date) {
            return null
          }
          return this.$moment(this.date).format('LL')
        },
        date: {
          get () {
            return this.$store.state.create.date
          },
          set (value) {
            this.$store.commit('create/updateDate', value)
          }
        }
      }
    }
</script>
