<template>
    <v-text-field
            prepend-icon="title"
            v-model="headline"
            :label="$t('page.create.labels.headline')"
            required
    />
</template>

<script>
  export default {
    computed: {
      headline: {
        get () {
          return this.$store.state.create.headline
        },
        set (value) {
          this.$store.commit('create/updateHeadline', value)
        }
      }
    }
  }
</script>
