<template>
    <v-textarea
            prepend-icon="message"
            v-model="message"
            hide-details
            :label="$t('page.create.labels.message')"
    />
</template>

<script>
  export default {
    computed: {
      message: {
        get () {
          return this.$store.state.create.message
        },
        set (value) {
          this.$store.commit('create/updateMessage', value)
        }
      }
    }
  }
</script>
