<template>
    <v-select :prepend-icon="privacy_icon[privacy]"
              :label="$t('actions.privacy')"
              :items="privacy_options.map(p => ({text: $t(`state.privacy.${p}`), value: p}))"
              v-model="privacy"
    />
</template>

<script>
    export default {
      data () {
        return {
          privacy_icon: {
            private: 'lock',
            hidden: 'link',
            public: 'public'
          },
          privacy_options: [
            'private',
            'hidden',
            'public'
          ]
        }
      },
      computed: {
        privacy: {
          get () {
            return this.$store.state.create.privacy
          },
          set (value) {
            this.$store.commit('create/updatePrivacy', value)
          }
        },
      }
    }
</script>
