<template>
    <div>
        <v-text-field
                v-if="$globals.hasNativeInputs()"
                :label="$t('page.create.labels.time')"
                prepend-icon="timer"
                type="time"
                v-model="time"
                required
        />
        <v-dialog
                ref="dialog"
                v-else
                persistent
                v-model="dialog"
                lazy
                full-width
                width="290px"
                :return-value.sync="time"
        >
            <v-text-field
                    slot="activator"
                    :label="$t('page.create.labels.time')"
                    :value="time"
                    prepend-icon="timer"
                    readonly
                    type="time"
                    @keyup.space="dialog = true"
                    required
            />
            <v-time-picker v-model="time"
                           :locale="$store.state.locale"
                           actions @change="$refs.dialog.save(time)">
                <v-btn flat @click="dialog = false">{{$t('actions.cancel')}}</v-btn>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click="$refs.dialog.save(time)">{{$t('actions.save')}}</v-btn>
            </v-time-picker>
        </v-dialog>
    </div>
</template>

<script>
  export default {
    data () {
      return {
        dialog: false
      }
    },
    computed: {
      time: {
        get () {
          return this.$store.state.create.time
        },
        set (value) {
          this.$store.commit('create/updateTime', value)
        }
      }
    }
  }
</script>
