<template>
    <v-text-field
            prepend-icon="link"
            v-model="url"
            :label="$t('page.create.labels.url')"
    />
</template>

<script>
  export default {
    computed: {
      url: {
        get () {
          return this.$store.state.create.url
        },
        set (value) {
          this.$store.commit('create/updateUrl', value)
        }
      }
    }
  }
</script>
