<template>
    <v-card>
        <v-card-text class="mb-3 big-title">
            <h1 class="display-2 text-xs-center my-1 text--lighten-4">
                <slot></slot>
            </h1>
            <div class="big-title__decoration primary"></div>
        </v-card-text>
    </v-card>
</template>

<script>
    export default {
      name: 'big-title'
    }
</script>

<style lang="scss">
    .big-title {
        position: relative;
        overflow: hidden;
        &__decoration {
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            width: 5px;
        }
    }
</style>
