<template>
    <v-card class="mb-4">
        <v-card-title primary-title>
            <div style="width: 100%">
                <h2 class="display-1" v-if="reminder.url">
                    <a :href="reminder.url" rel="noreferrer noopener" target="_blank">
                        {{reminder.headline}}
                    </a>
                    <v-chip v-if="reminder.followers_count > 0" outline color="primary">{{reminder.followers_count}}
                        Follower{{reminder.followers_count > 1 ? 's' : ''}}
                    </v-chip>
                </h2>
                <h2 class="display-1" v-else>
                    {{reminder.headline}}
                    <v-chip v-if="reminder.followers_count > 0" outline color="primary">{{reminder.followers_count}}
                        Follower{{reminder.followers_count > 1 ? 's' : ''}}
                    </v-chip>
                </h2>
            </div>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
            <h3 class="subheading grey--text text--darken-1 mb-2">
                {{$moment(reminder.trigger).format('LLL')}} - {{$moment(reminder.trigger).from(now)}}
            </h3>
            <v-progress-linear :value="progress" height="20" :color="progress >= 100 ? 'grey' : 'primary'"/>
        </v-card-text>
        <v-divider/>
        <v-card-text v-if="reminder.message">
            <h3 class="subheading grey--text text--darken-1 mb-2">{{$t('page.create.labels.message')}}</h3>
            <div>
                {{reminder.message}}
            </div>
        </v-card-text>
        <v-divider v-if="reminder.message"/>
        <v-card-actions>
            <v-layout wrap row justify-spacer-around class="ma-0">
                <card-reminder-share :reminder="reminder"/>
                <card-reminder-privacy :reminder="reminder" v-if="reminder.owner" @updated="$emit('updated')"/>
                <card-reminder-notify :reminder="reminder"
                                      v-if="(reminder.owner || reminder.following) && !completed"
                                      @updated="$emit('updated')" :followed="followed" :now="now"/>
                <card-reminder-follow :reminder="reminder" v-if="!reminder.owner"
                                      @updated="$emit('updated')" @followed="followed = true"/>
                <card-reminder-quick-edit :reminder="reminder" v-if="reminder.owner" @updated="$emit('updated')"/>
                <card-reminder-delete :reminder="reminder" v-if="reminder.owner"/>
            </v-layout>
        </v-card-actions>
    </v-card>
</template>

<script>
  import moment from 'moment'
  import CardReminderShare from './card-reminder/share'
  import CardReminderDelete from './card-reminder/delete'
  import CardReminderPrivacy from './card-reminder/privacy'
  import CardReminderFollow from './card-reminder/follow'
  import CardReminderNotify from './card-reminder/notify'
  import CardReminderQuickEdit from '~/components/card-reminder/quick-edit'

  export default {
    components: {
      CardReminderQuickEdit,
      CardReminderShare,
      CardReminderDelete,
      CardReminderPrivacy,
      CardReminderFollow,
      CardReminderNotify
    },
    data () {
      return {
        followed: false
      }
    },
    mounted () {
      this.$echo.private(`reminder.${this.reminder.hash}`)
        .listen('ReminderFollowersChanged', () => {
          this.$emit('updated')
        })
    },
    destroyed () {
      this.$echo.leave(`reminder.${this.reminder.hash}`)
    },
    props: [
      'reminder',
      'now',
      'showcase'
    ],
    computed: {
      completed () {
        return this.progress === 100
      },
      progress () {
        const created = moment(this.reminder.created_at)
        const trigger = moment(this.reminder.trigger)
        const now = moment(this.now)
        const timeLength = trigger.diff(created, 'second')
        const timePassed = now.diff(created, 'second')
        if (timePassed < 0 || timeLength < 0) {
          return 100
        }
        return Math.min((timePassed / timeLength) * 100, 100)
      }
    }
  }
</script>
