<template>
    <v-tooltip left v-if="$route.path !== $i18n.path('create')">
        <v-btn slot="activator" normal fab fixed bottom right color="primary" @click="$router.push($i18n.path('create'))">
            <v-icon>add</v-icon>
        </v-btn>
        <span>{{$t('page.create.title')}}</span>
    </v-tooltip>
</template>

<script>
  import ReminderForm from '~/components/reminder-form'

  export default {
    name: 'create-button',
    data () {
      return {
        dialog: false
      }
    },
    components: {ReminderForm}
  }
</script>

<style lang="scss">
    .no-box-shadow {
        box-shadow: none !important;
    }
</style>