<template>
    <v-dialog v-model="dialog" persistent max-width="330">
        <v-btn large color="error" flat slot="activator">
            {{$t('components.delete-account.name')}}
        </v-btn>
        <v-card>
            <v-card-title class="black white--text" primary-title>
                <h1 class="mx-3">{{$t('components.delete-account.ask')}}</h1>
            </v-card-title>
            <v-card-text v-if="false">
                <div>
                    If you ever want to recover your information click the button bellow to save your access token.
                </div>
                <div class="text-xs-center">
                    <v-btn color="primary" outline @click="saveToken">
                        Save access token
                    </v-btn>
                </div>
                <div class="mt-2">
                    <em>Recovering is not yet implemented, please keep that in mind.</em>
                </div>
            </v-card-text>
            <v-card-actions>
                <v-btn flat @click="dialog=false">
                    {{$t('actions.cancel')}}
                </v-btn>
                <v-spacer/>
                <v-btn flat color="error" @click="logout">
                    {{$t('components.delete-account.remove')}}
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
  import FileSaver from 'file-saver'
  export default {
    name: 'delete-account',
    data () {
      return {
        loading: false,
        dialog: false
      }
    },
    methods: {
      async logout () {
        this.loading = true
        try {
          await this.$store.dispatch('auth/logout')
          location.pathname = this.$i18n.path('')
        } catch (e) {
          console.log(e)
        } finally {
          this.loading = false
        }
      },
      saveToken () {
        const blob = new Blob([this.$store.state.auth.token], {type: "text/plain;charset=utf-8"});
        FileSaver.saveAs(blob, "rc_token");
      }
    }
  }
</script>
