<template>
    <v-snackbar
            :timeout="$store.state.alert.timeout"
            bottom
            right
            :color="$store.state.alert.color"
            v-model="snackbar"
    >
        {{ $t($store.state.alert.message) }}
        <v-btn v-if="$store.state.alert.actionText"
               flat
               @click.native="visit($store.state.alert.actionPath)"
               dark
        >
            {{$t($store.state.alert.actionText)}}
        </v-btn>
        <v-btn flat @click.native="$store.commit('alert/close')" dark>{{$t('actions.close')}}</v-btn>
    </v-snackbar>
</template>

<script>
    export default {
      name: 'global-alerts',
      methods: {
        visit(path) {
          this.$router.push(this.$i18n.path(path))
        }
      },
      computed: {
        snackbar: {
          get () {
            return this.$store.state.alert.open
          },
          set (value) {
            this.$store.commit('alert/close', value, {root: true})
          }
        }
      }
    }
</script>