<template>
    <v-dialog v-model="dialog" persistent max-width="330">
        <v-btn slot="activator"
               color="primary"
               dark
               large
        >
            {{$t('components.login.name')}}
        </v-btn>
        <v-card>
            <v-stepper v-model="stepper" vertical>
                <v-stepper-step step="1" :complete="stepper > 1">{{$t('components.login.your-email')}}</v-stepper-step>
                <v-stepper-content step="1">
                    <form @submit.prevent="getCode">
                        <v-card-title class="headline">{{$t('components.login.your-email')}}</v-card-title>
                        <v-card-text>
                            {{$t('components.login.your-email-label')}}
                            <v-text-field type="email" required v-model="email" label="Email" :error="error.show"
                                          :rules="error.show ? [$t(error.value)] : []"
                            />
                        </v-card-text>
                        <v-card-actions>
                            <v-btn flat @click="cancel">{{$t('actions.close')}}</v-btn>
                            <v-spacer/>
                            <v-btn color="primary" flat type="submit" :loading="loading">{{$t('actions.submit')}}</v-btn>
                        </v-card-actions>
                    </form>
                </v-stepper-content>
                <v-stepper-step step="2" :complete="stepper > 2">{{$t('components.login.confirm-email')}}</v-stepper-step>
                <v-stepper-content step="2">
                    <form @submit.prevent="sendCode">
                        <v-card>
                            <v-card-title>
                                <span class="headline">{{$t('components.login.confirm-email')}}</span>
                                <v-spacer></v-spacer>
                                <v-progress-circular :size="50" :value="(seconds / 300) * 100" color="primary">
                                    {{ seconds.toFixed(0) }}s
                                </v-progress-circular>
                            </v-card-title>
                            <v-card-text>
                                {{$t('components.login.confirm-email-label')}}
                                <div class="identifier primary text--white">
                                    <span>{{identifier}}</span>
                                </div>
                                <v-text-field type="number" required v-model="code" :label="$t('components.login.code')"
                                              :rules="error.show ? [$t(error.value)] : []"/>
                            </v-card-text>
                            <v-card-actions>
                                <!--ask before cancel in here-->
                                <v-btn flat @click="cancel">{{$t('actions.close')}}</v-btn>
                                <v-spacer/>
                                <v-btn color="green" flat type="submit" :loading="loading">{{$t('actions.submit')}}</v-btn>
                            </v-card-actions>
                        </v-card>
                    </form>
                </v-stepper-content>
            </v-stepper>
        </v-card>
    </v-dialog>
</template>

<script>
  import CheckAnimated from '~/components/check-animated'

  export default {
    components: {
      CheckAnimated
    },
    data () {
      return {
        error: {
          show: false,
          value: ''
        },
        dialog: false,
        email: '',
        code: '',
        identifier: '',
        session_token: '',
        stepper: 1,
        loading: false,
        seconds: this.secondsToExpire(Date.now()),
        interval: null
      }
    },
    created () {
      this.interval = setInterval(() => {
        this.seconds = this.secondsToExpire(Date.now())
      }, 1000)
    },
    destroyed () {
      clearInterval(this.interval)
      this.stopListening()
    },
    mounted () {
      this.loadFromStore()
    },
    watch: {
      code (value) {
        if (value.toString().length === 6) {
          this.sendCode()
        }
      },
      email () {
        this.clearError()
      },
      stepper (value) {
        switch (value) {
          case 1:
            this.stopListening()
            break
          case 2:
            this.startListening()
            break
        }
      },
      dialog (value) {
        if (value) {
          this.loadFromStore()
        }
      }
    },
    methods: {
      secondsToExpire (now) {
        if (process.server) {
          return 0
        }
        const data = this.getStore()
        let expiresIn
        if (data) {
          const {timestamp} = data
          const limit = 60 * 5 * 1000 + timestamp // 5 minutes
          const withinLimit = now < limit
          expiresIn = withinLimit ? (limit - now) / 1000 : 0
          if (expiresIn === 0) {
            this.clearStore()
          }
          return expiresIn
        }
        return 0
      },
      clearError () {
        this.error = {
          show: false,
          value: ''
        }
      },
      validTimestamp (timestamp) {
        const current = Date.now()
        const limit = 60 * 5 * 1000 + timestamp // 5 minutes
        return current < limit
      },
      getStore () {
        return JSON.parse(sessionStorage.getItem('login'))
      },
      clearStore () {
        sessionStorage.removeItem('login')
        this.cancel(false)
      },
      loadFromStore () {
        let data = this.getStore()
        if (data) {
          if (!this.validTimestamp(data.timestamp)) {
            this.clearStore()
            return
          }
          this.stepper = 2
          this.email = data.email
          this.session_token = data.session_token
          this.identifier = data.identifier
        }
      },
      startListening () {
        this.$echo.channel(`login.${this.email}.${this.session_token}`)
          .listen('UserLogged', async (data) => {
            await this.$store.dispatch('auth/login', data.token)
            this.clearStore()
            this.$router.replace(this.$root.$i18n.path('reminders?display=welcomeBack'))
          })
      },
      stopListening () {
        this.$echo.leave(`login.${this.email}.${this.session_token}`)
      },
      cancel (close = true) {
        if (close) {
          this.dialog = false
        }
        this.email = ''
        this.code = ''
        this.identifier = ''
        this.stepper = 1
        this.loading = false
        this.clearError()
      },
      async getCode () {
        try {
          this.loading = true
          const {data: {data}} = await this.$axios.post('login', {
            email: this.email
          })
          this.identifier = data.identifier
          this.session_token = data.session_token
          sessionStorage.setItem('login', JSON.stringify({
            ...data,
            timestamp: Date.now()
          }))
          this.stepper = 2
        } catch (e) {
          if (e.response) {
            if (e.response.status === 404) {
              this.error.show = true
              this.error.value = 'components.login.email-not-registered'
            }
            if (e.response.status === 403) {
              this.error.show = true
              this.error.value = 'components.login.token-sent'
            }
          }
          console.log(e)
        } finally {
          this.loading = false
        }
      },
      async sendCode () {
        try {
          this.loading = true
          await this.$axios.post('login/finish', {
            code: this.code,
            email: this.email
          })
        } catch (e) {
          if (e.response) {
            if (e.response.status === 422) {
              this.error.show = true
              this.error.value = 'components.login.invalid-code'
            }
            if (e.response.status === 403) {
              this.error.show = true
              this.error.value = 'components.login.token-expired'
            }
          }
          this.code = ''
        } finally {
          this.loading = false
        }
      }
    }
  }
</script>

<style lang="scss">
    .identifier {
        padding: 1rem;
        border-radius: 5px;
        margin: 1rem 0;
        color: white;
        text-align: center;
    }
</style>