<template>
    <div class="text-xs-center">
        <h2 class="display-2 mb-4 grey--text">
            {{$moment(reminder.trigger).format('LLL')}}
        </h2>
        <hr class="my-4">
        <div class="display-3 x-clock" v-if="!completed">
            <span v-if="duration.days > 0">
                {{duration.days.toString().padStart(2, '0')}}
                <em>Days</em>
            </span>
            <span v-if="duration.hours > 0">
                {{duration.hours.toString().padStart(2, '0')}}
                <em>Hours</em>
            </span>
            <span v-if="duration.minutes > 0">
                {{duration.minutes.toString().padStart(2, '0')}}
                <em>Minutes</em>
            </span>
            <span v-if="duration.seconds > 0">
                {{duration.seconds.toString().padStart(2, '0')}}
                <em>Seconds</em>
            </span>
        </div>
        <div class="display-4" v-else>
            COMPLETED
        </div>
        <v-progress-linear :value="progress" height="20" :color="progress >= 100 ? 'grey' : 'primary'"/>
        <hr class="my-4">
        <h1 class="display-2 my-4" v-if="reminder.url">
            <a :href="reminder.url" rel="noreferrer noopener"
               target="_blank">{{reminder.headline}}</a>
            <v-chip v-if="reminder.followers_count > 0" outline color="primary">{{reminder.followers_count}}
                Follower{{reminder.followers_count > 1 ? 's' : ''}}
            </v-chip>
        </h1>
        <h1 class="display-2 my-4" v-else>
            {{reminder.headline}}
            <v-chip v-if="reminder.followers_count > 0" outline color="primary">{{reminder.followers_count}}
                Follower{{reminder.followers_count > 1 ? 's' : ''}}
            </v-chip>
        </h1>
        <v-card>

            <v-card-text v-if="reminder.message">
                <h3 class="subheading grey--text text--darken-1 mb-2">{{$t('page.create.labels.message')}}</h3>
                <div>
                    {{reminder.message}}
                </div>
            </v-card-text>
            <v-divider v-if="reminder.message"/>
            <v-card-actions>
                <v-layout wrap row justify-spacer-around class="ma-0">
                    <card-reminder-share :reminder="reminder"/>
                    <card-reminder-privacy :reminder="reminder" v-if="reminder.owner" @updated="$emit('updated')"/>
                    <card-reminder-notify :reminder="reminder"
                                          v-if="(reminder.owner || reminder.following) && !completed"
                                          @updated="$emit('updated')" :followed="followed" :now="now"/>
                    <card-reminder-follow :reminder="reminder" v-if="!reminder.owner"
                                          @updated="$emit('updated')" @followed="followed = true"/>
                    <card-reminder-quick-edit :reminder="reminder" v-if="reminder.owner" @updated="$emit('updated')"/>
                    <card-reminder-delete :reminder="reminder" v-if="reminder.owner"/>
                </v-layout>
            </v-card-actions>
        </v-card>
    </div>
</template>

<script>
  import moment from 'moment'
  import CardReminderShare from './card-reminder/share'
  import CardReminderDelete from './card-reminder/delete'
  import CardReminderPrivacy from './card-reminder/privacy'
  import CardReminderFollow from './card-reminder/follow'
  import CardReminderNotify from './card-reminder/notify'
  import CardReminderQuickEdit from '~/components/card-reminder/quick-edit'

  export default {
    components: {
      CardReminderQuickEdit,
      CardReminderShare,
      CardReminderDelete,
      CardReminderPrivacy,
      CardReminderFollow,
      CardReminderNotify
    },
    name: 'public-card-reminder',
    props: {
      reminder: {
        type: Object
      },
      now: {
        type: Object
      }
    },
    data () {
      return {
        followed: false
      }
    },
    mounted () {
      this.$echo.private(`reminder.${this.reminder.hash}`)
        .listen('ReminderFollowersChanged', () => {
          this.$emit('updated')
        })
    },
    destroyed () {
      this.$echo.leave(`reminder.${this.reminder.hash}`)
    },
    computed: {
      inThePast () {
        const trigger = moment(this.reminder.trigger)
        const now = moment(this.now)
        const duration = trigger.diff(now, 'seconds') * 1000
        return duration < 0
      },
      duration () {
        const trigger = moment(this.reminder.trigger)
        const now = moment(this.now)
        const duration = trigger.diff(now, 'seconds') * 1000
        const time = this.$moment.duration(duration)
        return time._data
      },
      progress () {
        const created = moment(this.reminder.created_at)
        const trigger = moment(this.reminder.trigger)
        const now = moment(this.now)
        const timeLength = trigger.diff(created, 'second')
        const timePassed = now.diff(created, 'second')
        if (timePassed < 0 || timeLength < 0) {
          return 100
        }
        return Math.min((timePassed / timeLength) * 100, 100)
      },
      completed () {
        return this.progress === 100
      }
    }
  }
</script>

<style lang="scss">
    .x-clock {
        span em {
            font-size: 2rem;
            letter-spacing: 1px;
        }
        span {
            display: inline-block;
            margin: 0 .5rem;
        }
    }
</style>
