<template>
    <form @submit.prevent="$store.dispatch('create/submit')" autocomplete="off">
        <v-card>
            <v-card-text class="pa-4">
                <v-layout row wrap>
                    <v-flex xs12 md6>
                        <headline-input/>
                    </v-flex>
                    <v-flex xs12 md6>
                        <privacy-input/>
                    </v-flex>
                    <v-flex xs12 md6>
                        <date-input/>
                    </v-flex>
                    <v-flex xs12 md6>
                        <time-input/>
                    </v-flex>
                    <v-flex xs12>
                        <v-layout justify-center>
                            <v-btn color="primary" @click="advanced = !advanced" dark flat role="switch" :aria-checked="advanced + ''">
                                <v-icon left>{{advanced ? 'check_box' : 'check_box_outline_blank'}}</v-icon>
                                {{$t('page.create.labels.advanced')}}
                            </v-btn>
                        </v-layout>
                    </v-flex>
                    <v-flex xs12 v-if="advanced">
                        <url-input/>
                    </v-flex>
                    <v-flex xs12 v-if="advanced">
                        <message-input/>
                    </v-flex>
                </v-layout>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-text class="pa-4 lighten-4">
                <notification-selection/>
            </v-card-text>
            <v-divider/>
            <v-card-actions class="px-3 mt-2">
                <v-layout row wrap>
                    <v-btn outline class="ma-0 mb-2" color="warning" @click="$store.commit('create/clearForm')">
                        <v-icon left>redo</v-icon>
                        {{$t('actions.clear')}}
                    </v-btn>
                    <v-spacer/>
                    <v-btn outline class="ma-0" color="success" type="submit"
                           :loading="$store.state.create.loading"
                    >
                        <v-icon left>done</v-icon>
                        {{$t('actions.save')}}
                    </v-btn>
                    <v-btn outline class="ma-0 ml-2" color="success" type="button"
                           :loading="$store.state.create.loading"
                           @click="saveAndGo"
                           v-if="$store.state.create.privacy === 'public'"
                    >
                        <v-icon left>done_all</v-icon>
                        {{$t('actions.save-open')}}
                    </v-btn>
                </v-layout>
            </v-card-actions>
        </v-card>
    </form>
</template>

<script>
  import DateInput from '~/components/create/inputs/date-input'
  import TimeInput from '~/components/create/inputs/time-input'
  import PrivacyInput from '~/components/create/inputs/privacy-input'
  import HeadlineInput from '~/components/create/inputs/headline-input'
  import MessageInput from '~/components/create/inputs/message-input'
  import NotificationSelection from '~/components/create/notification-selection'
  import UrlInput from '~/components/create/inputs/url-input'

  export default {
    components: {
      UrlInput,
      DateInput,
      TimeInput,
      PrivacyInput,
      HeadlineInput,
      MessageInput,
      NotificationSelection,
    },
    methods: {
      async saveAndGo () {
        await this.$store.dispatch('create/submit')
        const reminder = this.$store.state.create.data
        this.$router.push(this.$i18n.path(`reminders/${reminder.hash}/${reminder.slug}`))
      }
    },
    computed: {
      advanced: {
        get () {
          return this.$store.state.create.advanced
        },
        set (value) {
          this.$store.commit('create/updateAdvanced', value)
        }
      },
    }
  }
</script>
