// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'


.application:not(.welcome)
  background-image url("/inspiration-geometry.png") !important;
.no-select *
  user-select: none;
.page
  @extend .fade-transition

.__nuxt-error-page .error
  background-color: transparent !important
  border-color: transparent !important
