<template></template>

<script>
  export default {
    mounted () {
      if (this.subscribed) return
      this.detect()
      this.getSubscription()
    },
    methods: {
      detect () {
        try {
          const hasServiceWorkers = ('serviceWorker' in navigator)
          const hasNotifications = ('showNotification' in ServiceWorkerRegistration.prototype)
          const hasPushManager = ('PushManager' in window)
          this.available = hasServiceWorkers && hasNotifications && hasPushManager
        } catch (e) {
          this.available = false
        }
        if (this.available) {
          switch (Notification.permission) {
            case 'denied':
              this.denied = true
              break
            case 'granted':
              this.granted = true
              break
          }
        }
      },
      async getSubscription () {
        if (this.available) {
          const registration = await navigator.serviceWorker.ready
          try {
            const subscription = await registration.pushManager.getSubscription()
            if (!subscription) return
            await this.updateSubscription(subscription)
            this.subscribed = true
          } catch (e) {
            console.log(e)
          }
        }
      },
      /**
       * Send a request to the server to update user's subscription.
       */
      async updateSubscription (subscription) {
        const key = subscription.getKey('p256dh')
        const token = subscription.getKey('auth')
        const data = {
          endpoint: subscription.endpoint,
          key: key ? btoa(String.fromCharCode.apply(null, new Uint8Array(key))) : null,
          token: token ? btoa(String.fromCharCode.apply(null, new Uint8Array(token))) : null
        }
        await this.$axios.post('/subscriptions', data)
        this.subscribed = true
      },
    },
    computed: {
      subscribed: {
        get () {
          return this.$store.state.notification.subscribed
        },
        set (value) {
          this.$store.commit('notification/subscribed', value)
        }
      },
      available: {
        get () {
          return this.$store.state.notification.available
        },
        set (value) {
          this.$store.commit('notification/available', value)
        }
      },
      detected: {
        get () {
          return this.$store.state.notification.detected
        },
        set (value) {
          this.$store.commit('notification/detected', value)
        }
      },
      granted: {
        get () {
          return this.$store.state.notification.granted
        },
        set (value) {
          this.$store.commit('notification/granted', value)
        }
      },
      denied: {
        get () {
          return this.$store.state.notification.denied
        },
        set (value) {
          this.$store.commit('notification/denied', value)
        }
      },
    }
  }
</script>
