<template>
    <v-card role="switch" :aria-checked="granted | booleanToText"
            tabindex="0"
            @keyup.enter="switchNotificationState"
            @keyup.space="switchNotificationState"
            @click.native="switchNotificationState"
            :ripple="canInteract"
            :hover="canInteract"
            :class="available && !denied ? '' : 'grey lighten-4'"
            class="no-select">
        <v-card-title class="text-xs-center z-notification">
            <div>
                <v-icon x-large class="mb-2">important_devices</v-icon>
                <div class="headline">{{$t('components.enable-browser-notification.name')}}</div>
            </div>
        </v-card-title>
        <v-divider/>
        <v-card-text class="text-xs-center">
            <strong>
                <span v-if="!detected">
                    {{$t('components.enable-browser-notification.detecting-browser')}}
                </span>
                <span v-else-if="denied">
                    {{$t('components.enable-browser-notification.notification-denied')}}
                </span>
                <span v-else-if="!available">
                    {{$t('components.enable-browser-notification.notification-unavailable')}}
                </span>
                <span v-else-if="!granted">
                    {{$t('components.enable-browser-notification.notification-enable')}}
                </span>
                <span v-else>
                    {{ subscribed ? $t('state.enabled') : $t('state.disabled') }}
                </span>
            </strong>
        </v-card-text>
        <v-dialog v-model="dialog" persistent max-width="330">
            <v-card>
                <v-card-title class="headline">{{$t('components.enable-browser-notification.ask-enable')}}</v-card-title>
                <v-card-text>
                    {{$t('components.enable-browser-notification.explain-enable')}}
                </v-card-text>
                <v-card-actions>
                    <v-spacer/>
                    <v-btn color="error darken-1" flat @click.native="dialog = false">
                        {{$t('actions.close')}}
                    </v-btn>
                    <v-btn color="success darken-1" flat @click="dialogSubscribe">
                        {{$t('actions.accept')}}
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-card>
</template>

<script>
  export default {
    data () {
      return {
        loading: {
          updating: false,
          unsubscribing: false
        },
        dialog: false
      }
    },
    methods: {
      dialogSubscribe () {
        this.dialog = false
        this.$nextTick(() => {
          this.requestNotificationAndSubscribe()
        })
      },
      switchNotificationState () {
        if (this.denied || !this.available) {
          console.log('[BROWSER NOTIFICATION] Denied or not available')
          this.$store.commit('alert/open', {message: 'components.enable-browser-notification.something-went-wrong', color: 'error'})
          return
        }
        if (this.loadingSomething) {
          console.log('[BROWSER NOTIFICATION] Loading something')
          return
        }
        if (!this.granted) {
          console.log('[BROWSER NOTIFICATION] Not granted')
          this.dialog = true
        } else {
          console.log('[BROWSER NOTIFICATION] Requesting')
          this.dialog = true
          this.subscribed ? this.requestNotificationAndUnsubscribe() : this.requestNotificationAndSubscribe()
        }
      },
      detect () {
        try {
          const hasServiceWorkers = ('serviceWorker' in navigator)
          const hasNotifications = ('showNotification' in ServiceWorkerRegistration.prototype)
          const hasPushManager = ('PushManager' in window)
          this.available = hasServiceWorkers && hasNotifications && hasPushManager
        } catch (e) {
          this.available = false
        }
        if (this.available) {
          switch (Notification.permission) {
            case 'denied':
              this.denied = true
              break
            case 'granted':
              this.granted = true
              break
          }
        }
      },
      async requestNotificationAndSubscribe () {
        const registration = await navigator.serviceWorker.ready
        const options = {userVisibleOnly: true}
        await this.$store.dispatch('auth/getVapidKeys')
        const vapidPublicKey = this.$store.state.auth.vapidPublicKey
        if (vapidPublicKey) {
          options.applicationServerKey = this.urlBase64ToUint8Array(vapidPublicKey)
        }
        try {
          const subscription = await registration.pushManager.subscribe(options)
          await this.subscribe(subscription)
          this.granted = true
        } catch (e) {
          this.granted = false
          if (Notification.permission === 'denied') {
            this.denied = true
          }
        }
      },

      /**
       * Subscribe for push notifications.
       */
      async subscribe (subscription) {
        if (!subscription) return
        try {
          await this.updateSubscription(subscription)
          // subscription success
          this.$store.commit('alert/open', {
            message: 'components.enable-browser-notification.subscribe.success'
          })
        } catch (e) {
          console.log(e)
          this.$store.commit('alert/open', {
            message: 'components.enable-browser-notification.subscribe.error',
            color: 'error'
          })
        }
      },

      async requestNotificationAndUnsubscribe () {
        const registration = await navigator.serviceWorker.ready
        try {
          const subscription = await registration.pushManager.getSubscription()
          await this.unsubscribe(subscription)
        } catch (e) {
          console.log(e)
        }
      },
      /**
       * Unsubscribe from push notifications.
       */
      async unsubscribe (subscription) {
        try {
          if (!subscription) {
            this.subscribed = false
            return
          }
          await subscription.unsubscribe()
          await this.deleteSubscription(subscription.endpoint)
          this.subscribed = false
          this.$store.commit('alert/open', {
            message: 'components.enable-browser-notification.unsubscribe.success'
          })
        } catch (e) {
          console.log(e)
          this.subscribed = true
          this.$store.commit('alert/open', {
            message: 'components.enable-browser-notification.unsubscribe.error',
            color: 'error'
          })
        }
      },
      /**
       * Send a request to the server to update user's subscription.
       */
      async updateSubscription (subscription) {
        const key = subscription.getKey('p256dh')
        const token = subscription.getKey('auth')

        const data = {
          endpoint: subscription.endpoint,
          key: key ? btoa(String.fromCharCode.apply(null, new Uint8Array(key))) : null,
          token: token ? btoa(String.fromCharCode.apply(null, new Uint8Array(token))) : null
        }

        this.loading.updating = true
        try {
          await this.$axios.post('/subscriptions', data)
          this.subscribed = true
          this.$emit('subscribed')
        } finally {
          this.loading.updating = false
        }
      },

      /**
       * Send a request to the server to delete user's subscription.
       */
      async deleteSubscription (endpoint) {
        this.loading.unsubscribing = true
        try {
          await this.$axios.delete('/subscriptions', {
            data: {
              endpoint
            }
          })
        } finally {
          this.loading.unsubscribing = false
        }
      },

      /**
       * https://github.com/Minishlink/physbook/blob/02a0d5d7ca0d5d2cc6d308a3a9b81244c63b3f14/app/Resources/public/js/app.js#L177
       *
       * @param  {String} base64String
       * @return {Uint8Array}
       */
      urlBase64ToUint8Array (base64String) {
        const padding = '='.repeat((4 - base64String.length % 4) % 4)
        const base64 = (base64String + padding)
          .replace(/-/g, '+')
          .replace(/_/g, '/')

        const rawData = window.atob(base64)
        const outputArray = new Uint8Array(rawData.length)

        for (let i = 0; i < rawData.length; ++i) {
          outputArray[i] = rawData.charCodeAt(i)
        }

        return outputArray
      }
    },
    computed: {
      loadingSomething () {
        return this.loading.unsubscribing || this.loading.updating
      },
      canInteract () {
        return this.available && !this.denied && !this.loadingSomething
      },
      available: {
        get () {
          return this.$store.state.notification.available
        },
        set (value) {
          this.$store.commit('notification/available', value)
        }
      },
      detected: {
        get () {
          return this.$store.state.notification.detected
        }
      },
      subscribed: {
        get () {
          return this.$store.state.notification.subscribed
        },
        set (value) {
          this.$store.commit('notification/subscribed', value)
        }
      },
      granted: {
        get () {
          return this.$store.state.notification.granted
        },
        set (value) {
          this.$store.commit('notification/granted', value)
        }
      },
      denied: {
        get () {
          return this.$store.state.notification.denied
        },
        set (value) {
          this.$store.commit('notification/denied', value)
        }
      }
    },
    filters: {
      booleanToText (boolean) {
        return Boolean(boolean).toString()
      }
    }
  }
</script>