<template>
    <v-card role="switch" :aria-checked="granted | booleanToText"
            tabindex="0"
            @keyup.enter="switchNotificationState"
            @keyup.space="switchNotificationState"
            @click.native="switchNotificationState"
            :ripple="canInteract"
            :hover="canInteract"
            :class="available ? '' : 'grey lighten-4'"
            class="no-select">
        <v-card-title class="text-xs-center z-notification">
            <v-layout row wrap>
                <v-flex xs12>
                    <v-icon x-large>email</v-icon>
                </v-flex>
                <v-flex xs12 class="mt-2">
                    <div class="headline">
                        {{$t('components.enable-email-notification.name')}}
                    </div>
                </v-flex>
                <v-flex xs12>
                    <div class="headline grey--text mt-2" v-else-if="!available">
                        {{$t('components.enable-email-notification.notification-unavailable')}}
                    </div>
                </v-flex>
            </v-layout>
        </v-card-title>
        <v-divider/>
        <v-card-actions class="text-xs-center">
            <v-btn :class="subscribed && granted ? 'success--text' : 'error--text'" :loading="loadingSomething" flat
                   block>
                <template>
                    {{ subscribed ? $t('state.enabled') : $t('state.disabled') }}
                </template>
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
  export default {
    props: ['global'],
    data () {
      return {
        loading: {
          available: false,
          updating: false
        },
        dialog: false
      }
    },
    methods: {
      switchNotificationState () {
        if (!this.available) return
        if (this.loadingSomething) return
        this.subscribed ? this.unsubscribe() : this.subscribe()
      },

      /**
       * Subscribe for push notifications.
       */
      async subscribe (subscription) {
        this.$store.commit('create/updateNotification', {
          notification: 'email',
          value: true
        })
      },
      async unsubscribe (subscription) {
        this.$store.commit('create/updateNotification', {
          notification: 'email',
          value: false
        })
      },
    },
    computed: {
      loadingSomething () {
        return this.loading.updating
      },
      canInteract () {
        return this.available && !this.loadingSomething
      },
      available: {
        get () {
          return this.$store.state.notification.available
        },
        set (value) {
          this.$store.commit('notification/available', value)
        }
      },
      subscribed: {
        get () {
          return this.$store.state.notification.subscribed
        },
        set (value) {
          this.$store.commit('notification/subscribed', value)
        }
      }
    },
    filters: {
      booleanToText (boolean) {
        return Boolean(boolean).toString()
      }
    }
  }
</script>
