<template>
    <v-card role="switch" :aria-checked="model | booleanToText"
            tabindex="0"
            @keyup.enter="switchValue"
            @keyup.space="switchValue"
            @click.native="switchValue"
            :ripple="!disabled"
            :hover="!disabled"
            :class="disabled ? 'grey lighten-2' : ''"
            class="no-select" >
        <v-card-title class="text-xs-center z-notification">
            <div>
                <v-icon x-large class="mb-2">{{icon || 'important_devices'}}</v-icon>
                <div class="headline">{{$t(`page.create.notification.${notification}`)}}</div>
            </div>
        </v-card-title>
        <v-divider/>
        <v-card-text class="text-xs-center">
            <strong :class="model | isActive">
                {{$t(`page.create.trigger.${model ? 'active' : 'inactive'}`)}}
            </strong>
        </v-card-text>
    </v-card>
</template>

<script>
  export default {
    props: [
      'icon',
      'notification',
      'disabled'
    ],
    methods: {
      switchValue () {
        if (!this.disabled) {
          this.model = !this.model
        }
      }
    },
    computed: {
      model: {
        get () {
          return this.$store.state.create.notification[this.notification]
        },
        set (value) {
          this.$store.commit('create/updateNotification', {
            notification: this.notification,
            value
          })
        }
      }
    },
    filters: {
      booleanToText (boolean) {
        return Boolean(boolean).toString()
      },
      isActive (active) {
        return active ? 'success--text' : 'error--text'
      }
    }
  }
</script>
