<template>
    <div>
        <v-layout wrap>
            <v-flex xs12>
                <h2 class="mb-4 grey--text text--darken-1">{{$t('page.create.labels.notifications')}}</h2>
            </v-flex>
            <v-container grid-list-xl class="pa-0">
                <v-layout wrap>
                    <v-flex xs12 sm6 md4 v-if="!$store.state.notification.subscribed">
                        <enable-browser-notification @subscribed="browserSubscribed"/>
                    </v-flex>
                    <v-flex xs12 sm6 md4 v-else>
                        <notification-switch notification="browser"/>
                    </v-flex>
                    <v-flex xs12 sm6 md4 v-if="$store.state.auth.email">
                        <notification-switch notification="mail"/>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-layout>
    </div>
</template>

<script>
  import NotificationSwitch from '~/components/create/notification-switch'
  import EnableBrowserNotification from '~/components/create/enable-browser-notification'

  export default {
    components: {
      NotificationSwitch,
      EnableBrowserNotification
    },
    methods: {
      browserSubscribed () {
        this.$store.commit('create/updateNotification', {
          notification: 'browser',
          value: true
        })
      },
    }
  }
</script>
