<template>
    <v-app>
        <v-navigation-drawer
                fixed
                clipped
                app
                v-model="drawer"
                disable-route-watcher
        >
            <v-list>
                <v-list-tile
                        router
                        :to="$i18n.path(item.path)"
                        :key="i"
                        v-for="(item, i) in items"
                        v-if="item.condition ? item.condition() : true"
                        exact
                >
                    <v-list-tile-action>
                        <v-icon v-html="item.icon" :color="item.color"/>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title v-text="$t(`page.${item.name}.title`)"/>
                    </v-list-tile-content>
                </v-list-tile>
                <v-divider inset v-if="this.$store.state.auth.email"></v-divider>
                <v-list-tile @click="logout" v-if="this.$store.state.auth.email">
                    <v-list-tile-action>
                        <v-icon>power_settings_new</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title v-text="$t(`app.logout`)"/>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar clipped-left app>
            <v-toolbar-side-icon @click="drawer = !drawer"></v-toolbar-side-icon>
            <v-btn flat :to="$i18n.path('')" class="title-button pa-0" active-class="noop">
                <span class="pretty-title">{{title}}</span>
            </v-btn>
        </v-toolbar>
        <v-content>
            <v-alert v-model="alert.welcome" type="success" dismissible transition="scale-transition"
                     class="text-xs-center mb-2">
                {{$t('motd.welcome')}}
            </v-alert>
            <v-alert v-model="alert.welcomeBack" type="info" dismissible transition="scale-transition"
                     class="text-xs-center mb-2">
                {{$t('motd.welcome-back')}}
            </v-alert>
            <v-alert v-model="alert.claimed" type="success" dismissible transition="scale-transition"
                     class="text-xs-center mb-2">
                {{$t('motd.emails-active')}}
            </v-alert>
            <v-container fill-height justify-center>
                <div class="view">
                    <nuxt/>
                </div>
            </v-container>
        </v-content>
        <v-footer height="64px" app absolute>
            <v-layout row wrap justify-center class="z-footer-container" text-xs-center>
                <v-flex xs12 md6 class="text-xs-center">
                    <nav class="z-footer-lang-nav">
                        <ul>
                            <strong>{{$t('app.translation')}}</strong>
                            <li v-for="locale in $store.state.locales">
                                <nuxt-link v-if="locale === 'en'" :to="realPath">{{$t(`lang.${locale}`)}}</nuxt-link>
                                <nuxt-link v-else :to="`/${locale}${realPath}`">{{$t(`lang.${locale}`)}}</nuxt-link>
                            </li>
                        </ul>
                    </nav>
                </v-flex>
                <v-flex xs12 md6 class="text-xs-center">
                    <span>&copy; {{$t('app.title')}} 2018</span>
                </v-flex>
            </v-layout>
        </v-footer>
        <global-alerts/>
        <detect-browser-notification/>
        <create-button/>
    </v-app>
</template>

<script>
  import DetectBrowserNotification from '~/components/create/detect-browser-notification'
  import GlobalAlerts from '~/components/global-alerts'
  import CreateButton from '~/components/create-button'

  export default {
    components: {
      CreateButton,
      GlobalAlerts,
      DetectBrowserNotification
    },
    mounted () {
      this.$watch(() => this.$route.path, () => {
        if (this.drawer && !this.$vuetify.breakpoint.lgAndUp) {
          this.drawer = false
        }
      })
    },
    destroyed () {
      this.$echo.leave(`App.User.${this.$store.state.auth.id}`)
    },
    created () {
      if (process.browser && this.$store.state.auth.authenticated) {
        this.$axios.setToken(this.$store.state.auth.token, 'Bearer')
        console.log('[DEFAULT LAYOUT] Setting up token')
        this.$echo.private(`App.User.${this.$store.state.auth.id}`)
          .listen('ReminderCreated', () => {
            this.$store.dispatch('feed/fetchReminders')
          })
          .listen('ReminderDeleted', () => {
            this.$store.dispatch('feed/fetchReminders')
          })
          .listen('ReminderFollow', () => {
            this.$store.dispatch('feed/fetchFollowedReminders')
          })
      }
      if (this.$route.query && this.$route.query.display) {
        switch (this.$route.query.display) {
          case 'welcome':
            this.alert.welcome = true
            break
          case 'welcomeBack':
            this.alert.welcomeBack = true
            break
          case 'claimed':
            this.alert.claimed = true
            break
        }
        this.$router.replace(this.$route.path)
      }
    },
    data () {
      return {
        dark: true,
        drawer: false,
        alert: {
          welcome: false,
          welcomeBack: false,
          claimed: false
        },
        items: [
          {icon: 'add', name: 'create', path: 'create'},
          {icon: 'view_list', name: 'reminders', path: 'reminders'},
          {icon: 'favorite', name: 'followed', path: 'followed'},
          {icon: 'volume_up', name: 'channels', path: 'channels'},
          {
            icon: 'warning',
            name: 'warning',
            path: 'warning',
            color: 'warning',
            condition: () => !this.$store.state.auth.email
          }
        ],
        title: this.$t('app.title')
      }
    },
    methods: {
      async logout () {
        await this.$store.dispatch('auth/logout')
        location.pathname = this.$i18n.path('')
      }
    },
    computed: {
      realPath () {
        return this.$store.state.locale === 'en' ? this.$route.fullPath : this.$route.fullPath.replace(/^\/[^/]+/, '')
      }
    }
  }
</script>

<style lang="scss">
    .view {
        width: 100%;
        height: 100%;
        max-width: 1024px;
        margin: 0 auto;
    }

    .z-footer-container {
        max-width: 1024px;
        margin: 0 auto !important;
    }

    .z-footer-lang-nav {
        ul > li {
            display: inline-block;
            margin: 0 .5rem;
        }
    }

    .text-middle {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pretty-title {
        font-family: 'Pacifico', cursive !important;
        font-size: 20px;
        text-transform: capitalize;
    }
</style>
