<template>
    <v-app class="vertical-center">
        <v-container fill-height>
            <v-layout row justify-center>
                <v-flex class="max-center">
                    <nuxt/>
                </v-flex>
            </v-layout>
        </v-container>
    </v-app>
</template>

<style lang="scss">
    .max-center {
        max-width: 330px;
    }
    .vertical-center {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }
</style>
