<template>
    <div>
        <nuxt/>
        <global-alerts/>
    </div>
</template>

<script>
    import GlobalAlerts from '~/components/global-alerts'
    export default {
      components: {GlobalAlerts},
      created () {
        if (process.browser && this.$store.state.auth.authenticated) {
          this.$axios.setToken(this.$store.state.auth.token, 'Bearer')
          console.log('[DEFAULT LAYOUT] Setting up token')
        }
      },
      head () {
        return {
          htmlAttrs: {
            lang: this.$store.state.locale
          }
        }
      }
    }
</script>
