<template>
    <v-card class="text-xs-center pa-4">
        <v-card-text>
            <check-animated/>
            <div class="mt-4 headline">Login confirmed</div>
            <div class="mt-4"><v-btn outline block color="success" @click="close">Close</v-btn></div>
        </v-card-text>
    </v-card>
</template>

<script>
  import CheckAnimated from '~/components/check-animated'

  export default {
    layout: 'simple',
    components: {
      CheckAnimated
    },
    validate({ query }) {
      const {email, confirmation_token} = query
      return !!(email && confirmation_token)
    },
    async asyncData ({app: {$axios}, query}) {
      const {email, confirmation_token} = query
      await $axios.post('/login/finish', {
        email,
        confirmation_token
      })
    },
    methods: {
      close () {
        window.self.close()
      }
    }
  }
</script>
