<template>
    <v-layout row justify-center>
        <v-flex xs12 sm9>
            <big-title>
                {{$t('page.channels.title')}}
            </big-title>
            <v-layout>
                <v-flex xs12 sm4 md4>
                    <enable-browser-notification/>
                </v-flex>
            </v-layout>
        </v-flex>
    </v-layout>
</template>

<script>
    import EnableBrowserNotification from '~/components/create/enable-browser-notification'
    import BigTitle from '~/components/big-title'

    export default {
      components: {
        BigTitle,
        EnableBrowserNotification
      }
    }
</script>
