<template>
    <v-layout row justify-center align-start>
        <v-flex xs12 sm9>
            <big-title>
                {{$t('page.create.title')}}
            </big-title>
            <reminder-form/>
        </v-flex>
    </v-layout>
</template>

<script>
  import ReminderForm from '~/components/reminder-form'
  import BigTitle from '~/components/big-title'

  export default {
    components: {
      BigTitle,
      ReminderForm
    }
  }
</script>
