<template>
    <v-layout row justify-center>
        <v-flex xs12 sm9>
            <big-title>
                {{$t('page.followed.title')}}
            </big-title>
            <div v-if="reminders.length">
                <transition-group name="fade">
                    <card-reminder v-for="reminder in reminders" :reminder="reminder" :key="reminder.hash"
                                   :now="now" @updated="update" :showcase="true"/>
                </transition-group>
            </div>
            <div v-else>
                <h1 class="display-1 text-xs-center grey--text text--darken-1 my-2">{{$t('global.empty')}}</h1>
            </div>
        </v-flex>
    </v-layout>
</template>

<script>
  import moment from 'moment'
  import CardReminder from '~/components/card-reminder'
  import BigTitle from '~/components/big-title'

  export default {
    components: {
      BigTitle,
      CardReminder
    },
    async fetch ({store}) {
      if (store.state.feed.followedReminders.length) return
      if (store.state.auth.authenticated) {
        await store.dispatch('feed/fetchFollowedReminders')
      }
    },
    data () {
      return {
        now: moment.utc(),
        interval: null
      }
    },
    methods: {
      update () {
        this.$store.dispatch('feed/fetchFollowedReminders')
      }
    },
    mounted () {
      if (process.browser) {
        this.interval = setInterval(() => {
          this.now = moment.utc()
        }, 1000)
      }
    },
    beforeDestroy () {
      if (process.browser) {
        clearInterval(this.interval)
      }
    },
    computed: {
      reminders () {
        return [...this.$store.state.feed.followedReminders]
      }
    }
  }
</script>

<style lang="scss">
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0
    }
</style>
