<template>
    <v-app class="welcome">
        <v-content>
            <section>
                <div class="hero">
                    <v-layout
                            column
                            align-center
                            justify-center
                    >
                        <v-card class="center-content pa-2">
                            <v-card-text>
                                <v-layout
                                        column
                                        align-center
                                        justify-center>
                                    <img src="/logo.png" alt="Recall Cat" height="200">
                                    <h1 class="black--text mb-5 display-2 text-xs-center nice-font">{{$t('app.title')}}</h1>
                                    <div class="black--text mb-5 text-xs-center title nice-font">
                                        {{$t('app.moto')}}
                                    </div>
                                    <v-layout wrap justify-center>
                                        <v-btn dark
                                               large
                                               v-if="$store.state.auth.authenticated"
                                               @click="open"
                                        >
                                            {{$t('page.reminders.title')}}
                                        </v-btn>
                                        <v-btn dark
                                               large
                                               v-else
                                               @click="register"
                                               :loading="loading"
                                        >
                                            {{$t('page.index.get-started')}}
                                        </v-btn>
                                        <login-form v-if="!$store.state.auth.authenticated"/>
                                    </v-layout>
                                </v-layout>
                            </v-card-text>
                        </v-card>
                        <div class="read-more animated">
                            <v-btn fab small dark>
                                <v-icon>arrow_downward</v-icon>
                            </v-btn>
                        </div>
                    </v-layout>
                </div>
            </section>

            <section v-if="false">
                <div class="second-page">
                    <v-layout
                            column
                            wrap
                            class="my-5"
                            align-center
                    >
                        <v-flex xs12 sm4 class="my-3">
                            <div class="text-xs-center">
                                <h2 class="display-1">Create your reminders</h2>
                                <span class="subheading">Share them with your world</span>
                            </div>
                        </v-flex>
                        <v-flex xs12>
                            <v-container grid-list-xl>
                                <v-layout row wrap align-top justify-center>
                                    <v-flex xs12 md6 lg3>
                                        <v-card class="elevation-0 transparent">
                                            <v-card-text class="text-xs-center">
                                                <v-icon x-large class="text--lighten-2">done</v-icon>
                                            </v-card-text>
                                            <v-card-title primary-title class="layout justify-center">
                                                <div class="headline text-xs-center">Free account</div>
                                            </v-card-title>
                                            <v-card-text class="message-body">
                                                Start right away, link your email later at any time
                                            </v-card-text>
                                        </v-card>
                                    </v-flex>
                                    <v-flex xs12 md6 lg3>
                                        <v-card class="elevation-0 transparent">
                                            <v-card-text class="text-xs-center">
                                                <v-icon x-large class="text--lighten-2">share</v-icon>
                                            </v-card-text>
                                            <v-card-title primary-title class="layout justify-center">
                                                <div class="headline">Easy share</div>
                                            </v-card-title>
                                            <v-card-text class="message-body">
                                                Share instantly with contacts on facebook, twitter or
                                                messenger
                                            </v-card-text>
                                        </v-card>
                                    </v-flex>
                                    <v-flex xs12 md6 lg3>
                                        <v-card class="elevation-0 transparent">
                                            <v-card-text class="text-xs-center">
                                                <v-icon x-large class="text--lighten-2">notifications</v-icon>
                                            </v-card-text>
                                            <v-card-title primary-title class="layout justify-center">
                                                <div class="headline text-xs-center">Notifications anywhere</div>
                                            </v-card-title>
                                            <v-card-text class="message-body">
                                                Get a reminder using any way you want!
                                            </v-card-text>
                                        </v-card>
                                    </v-flex>
                                    <v-flex xs12 md6 lg3>
                                        <v-card class="elevation-0 transparent">
                                            <v-card-text class="text-xs-center">
                                                <v-icon x-large class="text--lighten-2">language</v-icon>
                                            </v-card-text>
                                            <v-card-title primary-title class="layout justify-center">
                                                <div class="headline text-xs-center">Globally available</div>
                                            </v-card-title>
                                            <v-card-text class="message-body">
                                                Follow reminders from anywhere in the world from any timezone
                                            </v-card-text>
                                        </v-card>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-flex>
                    </v-layout>
                </div>
            </section>

            <v-footer dark>
                <v-layout row wrap align-center>
                    <v-flex xs12 class="text-xs-center">
                        <a class="white--text ml-3" href="https://oxfordwebdevelopment.com/" rel="noreferrer noopener">
                            Made with ❤ by OWD
                        </a>
                    </v-flex>
                </v-layout>
            </v-footer>
        </v-content>
    </v-app>
</template>

<script>
  import LoginForm from '~/components/login-form'
  import { debounce } from 'lodash'

  export default {
    layout: 'welcome',
    components: {
      LoginForm
    },
    data () {
      return {
        loading: false
      }
    },
    methods: {
      async register () {
        this.loading = true
        try {
          await this.$store.dispatch('auth/registerLocal')
          this.open(false)
        } catch (e) {
          console.log(e)
          this.$store.commit('alert/open', {message: 'Server unavailable', color: 'error'})
        } finally {
          this.loading = false
        }
      },
      open (isBack = true) {
        this.$router.replace(this.$i18n.path(`reminders?display=${isBack ? 'welcomeBack' : 'welcome'}`))
      }
    }
  }
</script>

<style lang="scss">
    .welcome {
        background-size: cover !important;
        background: url("/background.png") fixed center center !important;
    }

    .hero {
        height: 100vh;
        width: 100vw;
        display: flex;
        position: relative;
    }

    .second-page {
        min-height: 100vh;
        width: 100vw;
        display: flex;
        position: relative;
    }

    .center-content {
        background-color: rgba(white, .9) !important;
        max-width: 320px;
    }

    @keyframes float {
        0% {
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            transform: translatey(0px);
        }
        50% {
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            transform: translatey(-20px);
        }
        100% {
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            transform: translatey(0px);
        }
    }

    .read-more {
        position: absolute;
        bottom: 0;
        button {
            /*animation: float 6s ease-in-out infinite;*/
        }
    }

    .nice-font {
        font-family: 'Pacifico', cursive !important;
        font-size: 20px;
        line-height: 1.2 !important;
    }

    .backdrop {
        background-color: rgba(black, .4);
    }

    .message-body {
        font-size: 24px;
    }
</style>
