<template>
    <div>
        <big-title>{{$t('page.warning.title')}}</big-title>
        <v-card class="page-warning mb-4">
            <v-card-text>
                <ul class="bad">
                    <li>{{$t('page.warning.con-1')}}</li>
                    <li>{{$t('page.warning.con-2')}}</li>
                </ul>
                <p>{{$t('page.warning.action')}}</p>
                <ul class="good">
                    <li>{{$t('page.warning.pro-1')}}</li>
                    <li>{{$t('page.warning.pro-2')}}</li>
                </ul>
                <div class="text-xs-center">
                    <claim-form/>
                    <delete-account/>
                </div>
            </v-card-text>
        </v-card>
    </div>
</template>

<script>
  import ClaimForm from '~/components/claim-form.vue'
  import DeleteAccount from '~/components/delete-account'
  import BigTitle from '~/components/big-title'

  export default {
    created () {
      if (this.$store.state.auth.email) {
        this.$router.replace(this.$i18n.path('reminders'))
      }
    },
    components: {
      BigTitle,
      DeleteAccount,
      ClaimForm
    },
  }
</script>

<style lang="scss">
    .page-warning {
        font-size: 1.5rem;
        p {
            padding: 0 2rem;
            margin-bottom: 0;
            font-weight: bold;
        }
        ul {
            padding: 2rem;
            li {
                display: block;
                margin-bottom: 1rem;
                &:last-of-type {
                    margin-bottom: 0;
                }
                &:before {
                    display: inline-block;
                    width: 2rem;
                }
            }
            &.bad {
                li:before {
                    content: "✗";
                }
            }
            &.good {
                li:before {
                    content: "✔";
                }
            }
        }
    }
</style>
