<template>
    <v-layout row justify-center align-center>
        <v-flex xs12 sm9 v-if="isPublic">
            <public-card-reminder :reminder="reminder" :now="now" @updated="update"/>
        </v-flex>
        <v-flex xs12 sm9 v-else>
            <card-reminder :reminder="reminder" :showcase="true" :now="now" @updated="update"/>
        </v-flex>
    </v-layout>
</template>

<script>
  import CardReminder from '~/components/card-reminder'
  import PublicCardReminder from '~/components/public-card-reminder'

  export default {
    components: {
      PublicCardReminder,
      CardReminder
    },
    computed: {
      isPublic () {
        return this.reminder.privacy === 'public'
      }
    },
    async asyncData ({app, params, redirect, error}) {
      try {
        let {data: {data: reminder}} = await app.$axios.get(`/reminders/${params.hash}`)
        if (params.slug !== reminder.slug) {
          redirect(301, app.i18n.path(`reminders/${reminder.hash}/${reminder.slug}`))
        }
        return {
          reminder
        }
      } catch (e) {
        if (e.response) {
          error({
            status: e.response.status,
            message: e.response.statusText
          })
        } else {
          console.log(e)
          error({
            status: 500,
            message: 'Something went wrong'
          })
        }
      }
    },
    data () {
      return {
        now: this.$moment.utc(),
        interval: null
      }
    },
    methods: {
      async update () {
        let {data: {data: reminder}} = await this.$axios.get(`/reminders/${this.reminder.hash}`)
        this.reminder = reminder
      }
    },
    mounted () {
      if (process.browser) {
        this.interval = setInterval(() => {
          this.now = this.$moment.utc()
        }, 1000)
      }
    },
    beforeDestroy () {
      if (process.browser) {
        clearInterval(this.interval)
      }
    }
  }
</script>
